# Auto detect text files and perform LF normalization
* text=auto
<h1> 2020 News from Covid and other crazy events <h1>
<div>
<h2> Covid News <h2>
<a href=https://covid19.who.int/?gclid=Cj0KCQjw6575BRCQARIsAMp-ksObrQpKQtNksAawspU-4ZT_XPSRteumsQqiEAJglgWeUYA2NNiPtbcaAi72EALw_wcB>link text</a>
<a href=https://coronavirus.wa.gov/?gclid=Cj0KCQjw6575BRCQARIsAMp-ksM4mrhfKtV2iepyV4vd6ZDWzKAMluxNeFS_SKvzBrhFiLr5a3LWMKMaApFnEALw_wcB>link text</a>
<a href=https://www.cdc.gov/coronavirus/2019-ncov/cases-updates/cases-in-us.html>link text</a>
<div>
<h3> 